name: Argos CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        # We need to fetch all history for Argos to work correctly with parallel runs or baseline comparison
        fetch-depth: 0
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Build application
      run: npm run build
      
    - name: Run Playwright tests
      run: npx playwright test
      env:
        CI: true
        ARGOS_TOKEN: 'argos_cc3160a86d5527e7d6cdbf38860f2b7d3f'
        ARGOS_API_BASE_URL: 'https://api-argos-ci.lomalab-technologies.de/v2'
        
    - name: Upload Playwright Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
